@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif !important;
    overflow: scroll;
    overflow-x: hidden;
    background-color: 	 #e7feff;
}
main {
    background-color: #fff;
}
#iloscWierszy{
    font-weight: normal;
    color:darkgreen
}

#dataWrapper li{
    background-color: #FFE0D1;
    /* background-color: #2DB1D2; */
    display: flex;
    justify-content: space-between;
}

/* #dataWrapper li {
    color: #be4d25;
}
.data-column b, .data-column em {
    color: black;
} */


#dataWrapper li div:last-child a{
    font-size: 32px;
    padding: 30px 60px;
    
}

/* size of pagination buttons */
.page-link {
    width: 3.5rem;
}

/* search input border color */
.form-control:focus {
    border-color: rgba(13, 55, 71, 0.8);
  box-shadow: 0 0 0 4px rgba(13, 55, 71, 0.8);
  outline: 0 none;
}

section {
    padding: 0px 100px;
}

.btn-group, .btn-group-vertical {
    display: flex !important;
}

#navigation button {
    font-size: 30px;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
/* .btn-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0; 
}
*/
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-primary {
    /* background-color: #C23F00; */
    /* border-color: #C23F00; */
    outline: #00a0eae5 solid 1px;
}

.szukanie {
    display: block;
}
.szukanie.hide {
    display: none;
}
#dataWrapper li .data-column a {
    background-color: #FFBE9E;
}
#dataWrapper li .data-column a:hover {
    background-color: rgba(255, 133, 74, 0.8);
    outline: rgba(255, 133, 74, 0.8) solid 5px;

}