$info: #009EEA;
$pagination-bg: #FFE0D1;

$pagination-border-color: #009EEA;
$pagination-hover-border-color:     #009EEA;
$pagination-hover-bg: #5eccff;
$pagination-focus-bg:               #5eccff;
$pagination-focus-outline: 0;


// $pagination-color: #000;
$pagination-active-bg: #009EEA;
// $pagination-active-color: #000;
// $pagination-active-border-color: #e96710;
// $pagination-hover-color: #e96710; 
// $pagination-border-color: #e96710;
// $pagination-hover-bg: #e29562;
// $pagination-hover-color: white;
// $pagination-hover-border-color: #e96710;
// $input-group-addon-color:  #e96710;
// $btn-link-hover-color: rgb(218, 218, 218);


@import '../node_modules/bootstrap/scss/bootstrap';