$info: #dd8015;
$pagination-color: #e96710;
$pagination-active-bg: #e96710;
$pagination-active-border-color: #e96710;
$pagination-hover-color: #e96710; 
$pagination-border-color: #e96710;
$pagination-hover-bg: #e29562;
$pagination-hover-color: white;
$pagination-hover-border-color: #e96710;
$input-group-addon-color:  #e96710;



@import '../node_modules/bootstrap/scss/bootstrap';